## Visual Studio / Rider
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build
bin/
obj/
[Dd]ebug/
[Rr]elease/
publish/

## NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.idea/
*.swp
*~

## OS
Thumbs.db
.DS_Store

## Secrets (desenvolvimento local)
appsettings.Development.json
secrets.json
